body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #121212;
}
 

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(170, 68, 230);
	border-radius: 10px;
}


//ICONS
.fa-solid {
	color: white;
}

//FOOTER
.footer-grid-container {
	display: grid;
	grid-template-columns: 5rem 0.75fr 0.25fr 0.25fr 5rem;
	
	margin-top: 2rem;
	padding: 2rem 0;

	background-color: rgb(10, 10, 10);
	color: white;

	font-family: kanit, sans-serif;
	
	a {
		color: white;
	}
}

.server-logo {
	grid-column: 2 / 3;

	font-size: 1.5rem;
}

.guides-pages, .maps-pages {
	display: flex;
	flex-direction: column;
}
