.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.primary-header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 6vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.primary-navigation {
  margin: 0 2rem 0 0;
  padding: 0;
}

.primary-navigation li {
  list-style: none;
}

.primary-navigation a {
  font-family: kanit, sans-serif;
  font-weight: 900;
  letter-spacing: .5px;
  font-size: 1.55rem;
  color: white;
  text-decoration: underline;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.primary-navigation a:hover {
  -webkit-text-decoration-color: #c59131;
          text-decoration-color: #c59131;
}

.logo {
  color: white;
  margin-left: 2rem;
  font-family: Kanit, sans-serif;
  text-transform: uppercase;
}

.menu-btn_burger:hover {
  cursor: pointer;
  background-color: #e0af54;
}

.menu-btn {
  display: none;
}

.menu-btn_burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: " ";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.menu-btn_burger::before {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

.menu-btn_burger::after {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.menu-btn.open .menu-btn_burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
  background-color: #e0af54;
}

.menu-btn.open .menu-btn_burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
  background-color: #e0af54;
}

@media (max-width: 47em) {
  .primary-navigation {
    z-index: 1000;
    gap: 3rem;
    margin: 0;
    position: fixed;
    inset: 0 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15rem 10em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .logo {
    font-size: .8rem;
  }
  .menu-btn {
    display: block;
    margin-right: 2rem;
    z-index: 9999;
  }
}

@media (max-width: 35em) {
  .primary-navigation {
    inset: 0 0 0 0;
    padding: 15rem 5rem;
  }
}
/*# sourceMappingURL=navbar.css.map */