//Body
$body-background-clr: #111111;
$scrollbar-clr: rgb(255, 145, 0);


//Navbar
    //Colors
$nav-clr: rgba(0, 0, 0, 0.75);
$nav-hover-clr: rgb(255, 145, 0);
$nav-clr-light: rgb(255, 255, 255);


//Fonts variables
    //Size
$fs-h1: 3.75rem;
$fs-h2: 3rem;
$fs-h3: 2.5rem;
$fs-p: 1.2rem;
    //Families
$font-fa-h1: cubano, sans-serif;
$font-fa-h2: kanit, sans-serif;
$font-fa-h3: kanit, sans-serif;
$font-fa-p: montserrat, sans-serif;
    //Colors
$fc-a: rgb(255, 145, 0);
