@use 'variables' as *;

.flex {
    display: flex;
    gap: 1.5rem;
}

.primary-header {
    background-color: $nav-clr;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation {
    margin: 0 2rem 0 0;
    padding: 0;
     li {
        list-style: none;
    }
    a {
        font-family: kanit, sans-serif;
        font-weight: 900;
        letter-spacing: .5px;
        font-size: 1.55rem;
        color: $nav-clr-light;
        text-decoration: underline;
        transition: all 200ms;
        &:hover {
            text-decoration-color: $nav-hover-clr;
        }
    }
}

.logo {
    color: $nav-clr-light;
    margin-left: 2rem;
    font-family: Kanit, sans-serif;
    text-transform: uppercase;
}
//Burger Menu
.menu-btn_burger:hover {
    cursor: pointer;
    background-color: $nav-hover-clr;
}
.menu-btn {
    display: none;
}
.menu-btn_burger {
    width: 40px;
    height: 4px;
    background: $nav-clr-light;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 4px;
    background: $nav-clr-light;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-12px);
}
.menu-btn_burger::after {
    transform: translateY(12px);
}
//Animation
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;

}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
    background-color: $nav-hover-clr;
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: $nav-hover-clr;
}

@media (max-width: 47em) {
    .primary-navigation {
        z-index: 1000;
        gap: 3rem;
        margin: 0;
        position: fixed;
        inset: 0 0 0 0;
        flex-direction: column;
        padding: 15rem 10em;
        text-align: center;
        background-color: $nav-clr;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }
    .logo {
        font-size: .8rem;
    }
    .menu-btn {
        display: block;
        margin-right: 2rem;
        z-index: 9999;
    }

}
@media (max-width: 35em) {
    .primary-navigation {
        inset: 0 0 0 0;
        padding: 15rem 5rem;
    }
}
