@use '../Globals' as *;

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}


.filters { 
    span {
        font-size: 1.3rem;
        font-family: $font-fa-h2;
    }
}

.filter-btn {
    border: none;
    border-radius: 14px;
    background-color: black;

    padding: 10px 18px;
    margin-right: 2px;

    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: $font-fa-h2;
    letter-spacing: 1px;

    transition: all 250ms;
    cursor: pointer;
}