.image-header-page-intro {
	background-image: url(/styles/Images/complementary-shaders-parc.jpg);
	padding: 0 0 25vh 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.page-intro {
	margin-top: 20vh;
	text-align: center;
	color: white;
	h1 {
		font-family: cubano;
		letter-spacing: .25rem;
		font-size: 3.75rem;
		margin: 0%;
		text-shadow: 0px 4px 3px black;
	}
	p {
		font-style: italic;
		text-transform: uppercase;
		font-family: montserrat, sans-serif;
		font-size: 1.5rem;
		margin-top: 5px;
		letter-spacing: .06rem;
		text-shadow: 1px 2px 3px black;
	}
}

.grid-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: 5rem 1fr 1fr 5rem;
	grid-template-rows: repeat(4, 3fr);
}

.grid-col-2 {
	grid-column-start: 2;
}

.grid-row-2-col-2 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.grid-row-2-col-3 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}

.server-intro {
	color:white;
	h2 {
		font-size: 2.5rem;
		font-family: kanit, sans-serif;
		margin-bottom: 0;
	}
	p {
		margin-top: 5px;
		font-size: 1.2rem;
		font-family: montserrat, sans-serif;
	}
}

.boxes {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	
	padding: 3.25rem 0rem;
	background-color: black;
	border-radius: 20px;
	color: white;
	h2 {
		text-transform: uppercase;
		font-family: kanit;
		letter-spacing: 1.25px;
		font-size: 1.8rem;
		margin-bottom: 0;
	}
	p {
		font-size: 1.15rem;
		font-family: montserrat, sans-serif;
		margin-top: 5px;
		font-style: italic;
	}
}
