body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #121212;
	
}

.image-intro {
	padding-bottom: 12rem;
	background-image: url(/styles/Images/complementary-shaders-parc.jpg);
	background-position: center;
	background-size: cover;
}

.intro {
	margin-top: 8rem;
	color: white;
	text-align: center; 
	h1 {
		font-family: cubano;
		letter-spacing: .25rem;
		font-size: 4rem;
		margin: 0%;
		text-shadow: 0px 4px 3px black;
	}
	p {
		font-style: italic;
		text-transform: uppercase;
		font-family: montserrat, sans-serif;
		font-size: 1.5rem;
		margin-top: 5px;
		letter-spacing: .06rem;
		text-shadow: 1px 2px 3px black;
	}
} 

.team {
	color: white;
	display: grid;
	place-items: center;
	font-family: sans-serif;
}
.background {
	width: 65%;
	background-color: rgb(27, 27, 27);
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	h2 {
		font-family: cubano;
		position: relative;
		letter-spacing: .1rem;
		text-shadow: 1px 5px 0px black;
	}
	p {
		margin-left: 10px;
		font-family: 'montserrat', sans-serif;
		font-size: 1.2rem;
		letter-spacing: .05rem;
	}
    img {
		position: relative;
		top: 10px;
		width: 50px;
        border-radius: 7px;
    }
}
.job {
	font-family: cubano;
	letter-spacing: .1rem;
	text-shadow: 1px 5px 0px black;
}
span {
	margin-left: 10px;
	font-size: 1rem;
	font-family: montserrat, sans-serif;
	text-shadow: 2px 3px 0px black;
}
.builder {
    color: blue;
}
.tester {
    color: orange;
}
.dev {
    color: cyan;
}
.webdev {
    color: crimson;
}
.owner {
    color: gold;
}
.pack {
	color: green;
}
